// COLORS
$color-primary:     rgb(21, 21, 21);
$color-green:       rgb(106, 152, 60);
$color-green-light: rgb(118, 228, 7);
$color-grey:        rgb(249, 249, 249);

// Container
$width-container: 1320px;
$p-container: 30px;

// FONTS
$font-poppins: "Poppins",sans-serif;
$font-open: "Open Sans";

// FONT WAIGHT
$Light : 300; 
$Normal: 400;
$Medium: 500 ;
$Bold:   700;
$Extra:  800;
